* {
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar main extra"
    "footer footer footer";
    background-color: rgb(132, 205, 188);
    font-family: Cambria, 
    Cochin, Georgia, Times, 
    'Times New Roman', serif;
}
.books {
    padding: 20px;
}

p {
    padding: 4px;
}

.the-logo {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

ul {
    padding: 0px;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
   
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    transition: 0.6s;
}

a {
    transition: 0.9s;
    text-decoration: none;
    color: black;
}

h3 {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(132, 205, 188);
}

nav ul li {
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    background-color: rgb(132, 205, 188);
}

.genre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.genre img {
    width: 75px;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    background: linear-gradient(rgb(114, 222, 179), rgb(35, 162, 167), rgb(35, 162, 167));
    padding: 10px;
    grid-area: header;
}

header h1 {
    flex-grow: 1;
    padding: 25px;
}

footer {
    border-top: black;
    border-style: solid;
    background-color:  rgb(35, 162, 167);
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    grid-area: footer;
}

.bookcard img {
    border-radius: 5px;
}

button {
    margin: 5px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 
    'Gill Sans MT', 
    Calibri, 'Trebuchet MS', 
    sans-serif;
    border-radius: 10px;
    background-color: rgb(162, 209, 231);
}

main {
    grid-area: main;
    margin: 20px;
  
}

main .bookcard {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button:hover {
    background-color: rgb(216, 227, 244);
}

.checkout button {
    padding: 10px;
    margin: 10px;
}

.cart {
    margin: 10px;
    border-style: solid;
    border-color: rgb(35, 162, 167);;
    background-color: rgb(31, 52, 47);;
    border-width: 10px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(221, 234, 175);;
}

.bookcard { 
    height: 80%;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(221, 234, 175);
    box-shadow: 10px 5px 10px rgb(67, 70, 72);
    border-radius: 20px;
    border-width: 10px;
}

main {
    grid-area: main;
}

aside {
    position: sticky; /*Ser till att sidebaren syns hela tiden när user scrollar.*/
    overflow-y: auto;
    height: 100vh; /*Täcker hela höjden på skärmen*/
    top: 0;
    text-underline-offset: 6px;
    /*display: flex;
    flex-direction: column;*/
    grid-area: sidebar;
    justify-content: left;
    list-style: none;
    background: rgb(235, 180, 61);
    padding: 20px;
}

.sidebar ul {
    padding: 20px;
}

.sidebar ul:hover {
    padding: 20px;
    border-radius: 10px;
    text-decoration: underline;
    text-underline-offset: 8px;
    transition: 0.6s;
}

@media screen and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "footer";
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    aside {
        position: relative; 
    }
   
    nav ul li {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    header {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .the-logo {
        border-radius: 50px;
        width: 100px;
        height: 100px;
    }

    header h1 {
        display: none;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item";
       
    }
} 

